
RewriteOptions inherit
php_value upload_max_filesize 100M
php_value post_max_size 100M
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond $1 !^(index\.php|resources|robots\.txt)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>

<Files 403.shtml>
order allow,deny
allow from all
</Files>
